@import url("reset.css");
@import url("webfonts.css");
@import url("weather-icons.css");
@import url("weather-icons-wind.css");
@import url("bootstrap-grid.min.css");
body{
    background-color:rgb(90, 173, 237);
    font-size:16px;
    font-family:notoSansKr, sans-serif;
    color:#fff;
    font-weight:400;
}
nav{
    padding:20px;
    display:flex;
    justify-content: flex-end;
}
.searchBox{
    border:1px solid rgba(255,255,255,0);
    border-radius:1.5em;
    padding:3px;
}
.searchBox input[type=search]{
    width:1px;
    transition: all 0.3s;
}
.searchBox.active{
    border:1px solid rgba(255,255,255,1);
}
.searchBox.active input[type=search]{
    width:150px;
}
.search{
    margin-right:5px;
}
#search{
    border:none;
    background:transparent;
}
#search:focus{ outline: none;}

h1.city-title{
    font-size:1.7em;
    font-weight:700;
    text-align:center;
    margin-top:2em;
    margin-bottom:0.5em;

}
.ntime{
    margin-bottom:1.2em;
}
.margin-auto{
    margin-left:auto;
    margin-right:auto;
}
.text-center{
    text-align:center;
}
#iconbox,#nowtemp{
    height:100px;
}
#iconbox{
    text-align:right;
    padding-right:5px;
}
#iconbox img{
    max-width:80px;
}
#nowtemp{
    font-size:4em;
    line-height:1.1em;
    text-align:left;
    font-weight:500;
    letter-spacing: -3px;
}
#minmaxtemp{
    margin-bottom:10px;
}
.py-20{
    padding-top:1em;
    padding-bottom:1em;
    margin-top:2em;
    margin-bottom:2em;
}
.light-blue{
    background-color:rgba(255,255,255,0.2);
}
.light-blue li{
    line-height:24px;
}
i.material-icons{
    font-size:20px;
    line-height:20px;
}