@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{box-sizing: border-box;}
*{margin-block-start: 0; margin-block-end: 0;}
html, body{
    height: 100%;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
    color: #333;
    margin: 0;
    font-size: 16px;
}
button.backicon,
button.forwardicon{ 
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 300px;
    border: 0;
    padding: 10px;
    cursor: pointer;
}
button.backicon span,
button.forwardicon span{
    font-size: 50px;
    color: #818181;
}
button.backicon{
    left: 1%;
}
button.forwardicon{
    right: 1%;
}
a{
    text-decoration: none;
    color: #111;
}
.container  {
    width: 1360px;
}
.ellipis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.relative{
    position: relative;
}
.pt{
    padding-top: 50px;
}
.pd{
    padding-bottom: 40px;
}
.align-item-center{
    align-items: center;
}
a.brand{
    display: block;
    width: 110px;
    height: 80px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #ff5555;
    line-height: 80px;
}
a.brand span.material-icons{
    font-size: 35px;
    vertical-align: middle;
}

.weight{
    font-weight: 700;
}
.light{
    font-weight: 300;
}
.d-flex{
    display: flex;
}
.space-bet{
    justify-content: space-between;
}
.dt span{
    font-weight: 700;
}
.f-right{
    float: right;
}
.red{
    color: #ff5555;
}
nav{
    padding-left: 60px;
}
nav a{
    line-height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
}
nav a:hover{
    color: #ff5555;
    font-weight: 700;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
a.nav-btn{
    /* display: none; */
    position: absolute;
    right: 30px;
    top: 70px;
}
a.nav-btn>span{
    font-size: 30px;
}
nav span.bar{
    border-right: 1px solid #ddd;
    width: 1px;
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
a.close-btn{
    display: none;
}
a.search{
    line-height: 80px;
}
/* slider */
.slider{
    border-bottom: 5px solid #000;
}
.benner{display: none;}
.slider>.container{
    background: url(../images/002.png) no-repeat right bottom;
    margin-bottom: -13px;
    background-size: 350px;
    padding-bottom: 100px;
}
.slider ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 46px;
    margin-top: 35px;
    font-weight: 300;
    color: #999;
}
.slider li a {
    display: block;
    position: relative;
    width: 70%;
    padding-top:5px;
    padding-bottom:5px;
}
.slider li a:hover span.list-text{
    font-weight: 700;
}
.slider span.cafe-text{
    top:50px;
    right:-50px;
    font-size:14px;
    font-weight:400;
    color:#999;
    vertical-align:top;
}
/* my cafe */
/* my cafe */
.mycafe{
    padding: 50px 0 40px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #efefef;
}
.py-15{
    padding-top: 15px;
    padding-bottom: 15px;
}
a.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
    padding: 15px 25px;
    border: 1px solid #efefef;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0 , .03);
}
a.card:hover{
    box-shadow: 0 1px 12px rgba(0, 0, 0 , .2);
}
.img-thumb{
    align-self: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #efefef;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card-contents{
    width: calc(100% - 75px);
}
.card-contents h3{
    font-weight: 400;
}
.title-info{
    font-size: 14px;
    color: #666;
}
.hash{
    font-size: 14px;
    margin-top: 8px;
}
span.act{
    color: #ff5656;
}
.hash span{
    padding-right: 3px;
}
.hash>span::before{
    content: "#";
}
.justify-space-between{
    justify-content: space-between;
}
/* list popular */
.list-pop{
    list-style: none;
    margin: 0;
    padding: 0;
}
.img-thumb2 img{
    height: 80px;
    width: 100%;
    object-fit: cover;
}
.list-pop li{
    border-bottom: 1px solid #ececec;
}
.list-pop li{
    border-bottom: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
}
a.list{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
}
a.list:hover{
    background-color: #f8f8f8;
}
.pr15{
    padding-right: 30px;
}
a.list h3{
    font-size: 18px;
    font-weight: 400;
}
a.list h3 strong{
    margin-right: 15px;
}
.cafe-notice a::before,
.ul-notice a::before{
    content: "[안내]";
}
.ul-notice{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.cafe-notice a{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    color: #666;
}
.ul-notice a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 300;
    padding: 5px 0;
}
.ul-notice a:hover{
    text-decoration: underline;
}
.mt-4{
    margin-top: 50px;
    margin-bottom: 10px;
}
.support-box{
    min-height: 250px;
    background-color: #4260aa;
    position: relative;
    overflow: hidden;
}
.support-box .text_box{
    margin: 20px;
}
.support-box p{
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}
.head{
    position: absolute;
    width: 260px;
    height: 270px;
    top: 60px;
    left: 220px;
    border-radius: 50%;
    border: 7px solid #333;
    background-color: #fff;
}
.eye{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 150px;
    left: 300px;
    border-radius: 50%;
    background-color: #000;
}
.eye2{
    left: 350px;
}
.mouse{
    position: absolute;
    border-radius: 50%;
    background-color: #A8E6FF;
    width: 40px;
    height: 35px;
    top: 170px;
    left: 315px;
}
.mousew{
    position: absolute;
    width: 20px;
    height: 13px;
    top: 185px;
    left: 317px;
    border-radius: 0 0 10px 10px;
    border: 5px solid #000;
    border-top: none;
}
.mouseww{
    position: absolute;
    width: 20px;
    height: 13px;
    top: 185px;
    left: 332px;
    border-radius: 0 0 10px 10px;
    border: 5px solid #000;
    border-top: none;
}


.sub-pop span{
    font-weight: 700;
    color: #ff5656;
}
/************팬카페*************/
.fanCafe{
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #f8f8f8;
    margin-top: 40px;
}
.pt-55{
    padding: 55px;
}
.pt-40{
    padding-top: 40px;
}
.pb-30{
    padding-bottom: 30px;
}
.px-15{
    padding-left: 15px;
    padding-right: 15px;
}
div.icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #ff5656;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}
.card-img{
    height: 230px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    position: relative;
}
.numberbox{
    background: #000;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 3px;
}
.numberbox::after{
    content: "";
    width: 10px;
    height: 2px;
    background-color: #efefef;
    display: block;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}
.card-img img{
    width: 100%;
}
.card-body{
    padding: 20px 15px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.15);
}
.circle-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}
.circle-img img{
    width: 100%;
}
.card-content{
    padding-top: 10px;
}
.rbox,
.ybox{
    margin-right: 10px;
    font-size: 12px;
    color: #999;
    position: relative;
    padding-left: 10px;
}
.rbox::before{
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #ff8088;
    top: 8px;
}
.ybox::before{
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #cfce63;
    top: 8px;
}
@media screen and (max-width: 768px) {
    button.backicon{
        left: -3%;
    }
    button.forwardicon{
        right: -3%;
    }
    a.brand{
        width: 200px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        color: #ff5555;
        line-height: 100px;
    }
    a.nav-btn{
        display: block;
    }
    nav.col-10{
        /* display: none; */
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, .9);
        z-index: 100;
        transition: all .3s;
    }
    nav>.row{
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    nav>.row a{
        padding-left: 9px;
        font-size: 25px;
        color: #818181;
        width: 100%;
        display: block;
        font-weight: 500;
        line-height: 45px;
    }
    nav>.row a:hover{
        color: #f1f1f1;
    }
    a.close-btn{
        display: block;
        position: absolute;
        font-size: 40px;
        color: #ffff;
        top: 55px;
        right: 10px;
    }
    a.close-btn>span{
        font-size: 35px;
    }
    .slider>.container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .slider ul{
        font-size: 18px;
        width: 90%;
    }
    .slider li a{
        width: 95%;
    }
    .slider>.container{
        background-size: 50%;
    }

    .mycafe>.container{
        padding-left: 20px;
        padding-right: 20px;
    }
    a.card{
        flex-direction: column;
        height: auto;
    }
    .img-thumb{
        margin-bottom: 8px;
    }
    .card-contents{
        width: 100%;
    }
}