@import url("reset.css");
@import url("webfonts.css");
@import url("fonts.css");
@import url("all.min.css");
@import url("weather-icons.css");
@import url("weather-icons-wind.css");
@import url("bootstrap-grid.min.css");

body{
    background-color: rgb(90, 170, 240);
    font-size: 16px;
    font-family: NotoSansKR, sans-serif;
    color: #fff;
    font-weight: 400;
}
nav{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
.text-center{
    position: relative;
}
.img-Box{
    position: relative;
}
.img-Box img{
    position: absolute;
    height: 200%;
    top: -45%;
    left: 20%;
}
.dis-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.searchBox{
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 1.5em;
    padding: 3px;
}
.searchBox input[type = search]{
    width: 1px;
    transition: all 0.3;
}
.searchBox.active{
    border: 1px solid rgba(255,255,255,1);
}
.searchBox.active input[type=search]{
    width: 150px;
}
.search{
    margin-right: 5px;
}
#search{
    border: none;
    background: transparent;
}
#search:focus{outline:none;}


h1.city-title{
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.ntime{
    margin-bottom: 1.2em;
}
.margin-auto{
    margin-left: auto;
    margin-right: auto;
}
.text-center{
    text-align: center;
}
#iconbox,#nowtemp{
    height: 100px;
}
#iconbox{
    text-align: right;
    position: relative;
}
#iconbox img{
    position: absolute;
    top: -57%;
    right: -20%;
    height: 200%;
}
#nowtemp{
    font-size: 4em;
    line-height: 1.2em;
    text-align: left;
    font-weight: 700;
    color: #fff;
    padding: 0;
}
#minmaxtmep{
    margin-bottom: 10px;
}
.py-20{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.light-blue{
    background-color: rgba(255,255,255,0.3);
}
.light-blue li{
    line-height: 1.8em;
}
.light-blue span.material-icons{
    width: auto;
}



/* dayweather */
#wrapper{
    overflow: hidden;
    height: 150px;
}
#swiper{
    flex-wrap: nowrap;
    position: relative;
}
#swiper li{
    padding: 10px 10px;
}
.dayweather{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(246, 239, 35, 0.15), 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.dayweather p{
    margin: 5px;
}
.daydate{
    font-weight: 700;
    margin-bottom: 15px;
}
.dayweather .img-Box{
    height: 30px;
}

.daytemp{
    margin-top: 5px;
    margin-bottom: 10px;
}


/* daily */
.daily ul{
    width: 100%;
    height: 30px;
    margin: 0 auto;
}
#daily{
    display: flex;
    justify-content: center;
    width: 100%;
}
#date{
    width: 50%;
}
.dailyimg{
    position: relative;
    width: 20%;
}
.dailyimg img{
    position: absolute;
    top: -25px;
}