<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="profile-wrap">
            <div class="profile">
                {% if user and user.id %}
                <!-- 로그인이 되어 있는 경우 -->
                <div class="user-name">{{'안녕하세요?'+user.nick+ '님'}}</div>
                <div class="half">
                    <div>팔로잉</div>
                    <div class="count following-count">{{following count}}</div>
                </div>
                <div class="half">
                    <div>팔로워</div>
                    <div class="count follower-count">{{follower count}}</div>
                </div>
                <input type="hiden" id="my-id" value="{{user.id}}"/>
                <a href="/profile" id="id-profile" class="btn">내 프로필</a>
                <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
                {% else %}
                <!-- 로그인이 되어 있지 않은 경우 -->
                <form action="/auth/login" id="login-form" method="post">
                    <div class="input-group">
                        <label for="email">이메일</label>
                        <input type="email" name="email" id="email" required autofocus>
                    </div>
                    <div class="input-group">
                        <label for="password">비밀번호</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div class="btn-group">
                        <button id="login" type="submit" class="btn">로그인</button>
                        <a id="kakao" href="/auth/kakao" class="btn">카카오 로그인</a>
                    </div>
                    <a id="join" href="/join" class="btn">회원가입</a>
                </form>
                {% endif %}
            </div>
            <footer>
                HEE by &nbsp; <a href="https://github.com/HHeeW" target="_blank">&copy;HEE</a>
            </footer>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://unpkg.com/axios@0.27.2/dist/axios.min.js"></script>
    <script>
        window.onload = () =>{
            if(new URL(location.href).searchParams('loginError')){
                alert(new URL(location.href).searchParams.get('loginError'));
            }
        }
    </script>
    {% block content %}
    {% endblock %}
</body>
</html>