.singleform{
    flex: 9;
    padding-top: 50px;
}
.writeForm{
    width: 90%;
}
.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #9d9d9d;
    cursor: pointer;
    float: left;
    margin-top: 20px;
}
input[type=text].writeInput{
    font-size: 20px;
    padding: 20px;
    width: 90%;
    margin-left: 15px;
    border: none;
    outline:none;
    display: block;
}
.writeFormGroup{
    margin-bottom: 30px;
}
.writeFormGroup:first::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #9d9d9d;
}
