/* Movie_Page_Slider */
.H_Movie_Page_Poster_Box{
    width: 50%;
    height: 600px;
    margin: 50px auto;
    position: relative;
}
.H_Movie_Page_Poster_View_Box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.H_Movie_Page_Poster{
    width: 100%;
    display: flex;
    position: absolute;
    right: 220%;
    transition: all 1s;
}
.H_Movie_Page_Poster>img{
    width: 100%;
    margin-right: 10%;
}
.H_Movie_Back_Btn,
.H_Movie_Forward_Btn{
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0);
    color: #fff;
    width: 15%;
    position: absolute;
    top: 50%;
    text-align: center;
    margin: 0 auto;
}
.H_Movie_Back_Btn{
    left: -30%;
}
.H_Movie_Forward_Btn{
    right: -30%;
}