.header{
    margin-top: 50px;
}
.headerTItles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
}
.headerTitleSm{
    color: #fff;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 24px;
}
.headerTitleLg{
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 100px;
    font-weight: 800;
}
.headerImg{
    width: 100%;
    height: 450px;
    object-fit: cover;
}