{% extends 'layout.html' %}
{% block content %}
<h2 class="mt-5 text-center mb-5"> 회원가입 </h2>
<form>
<div class="row">
    <div class="col-2 text-end pe-3 mb-4">
        이메일
    </div>
    <div class="col-10 mb-4">
        <input type="email" name="useremail" class="form-control" placeholder="이메일" />
    </div>
    <div class="col-2 text-end pe-3 mb-4">
        닉네임
    </div>
    <div class="col-10 mb-4">
        <input type="text" name="userename" class="form-control" placeholder="닉네임" />
    </div>
    <div class="col-2 text-end pe-3 mb-4">
        비밀번호
    </div>
    <div class="col-10 mb-4">
        <input type="password" name="userpwd" class="form-control" placeholder="비밀번호" />
    </div>
    <div class="col-2 text-end pe-3 mb-4">
     비밀번호 확인
    </div>
    <div class="col-10 mb-4">
        <input type="password" name="reuserpwd" class="form-control" placeholder="비밀번호확인" />
    </div>
     <button type="submit" class="btn btn-primary">회원가입</button>               
  </div>
</form>
{% endblock %}