 <!-- 로그아웃 -->
 <div class="card">
    <div class="card-bocy text-center">
        <figure>
            <img src="http://www.webcoderskull.com/img/team1.png" 
                 class="img-fluid" alt="아이디명">
        </figure>
        <h3>홍길동 님</h3>
        <p>가입일: 0000, 최근로그인: 0000, 회원레벨: 0000</p>
        <ul class="d-flex">
           <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
           <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
           <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
        <p class="mb-5"><a href="logout">로그아웃</a></p>
    </div>
</div>
<!-- /로그아웃 -->