.top{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, .7);
    position: fixed;
    top: 0;
    z-index: 100;
}
.topIn{
    display: flex;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;
}
.topIcon{
    font-size: 25px;
    margin-right: 15px;
    color: #444;
    cursor: pointer;
}
.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
}
.topLeft{
    justify-content: flex-start;
}
.topRight{
    justify-content: flex-end;
}
.topCenter{
    flex: 6;
}
.topList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.topListItem a{
    display: block;
    margin-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
}
.topListItem a:hover::after{
    content:  "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 2px;
    background-color: rgb(200, 20, 20);
    top: 28px;
}
.topSearchIcon{
    font-size: 18pz;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}