*{box-sizing: border-box;}
body {
  margin: 0 ;
  font-family: 'GowunDodum-Regular',sans-serif;
  font-size: 16px;
  font-weight: bold;
}
a,a:hover:not(.b_myButton){
  color: #333;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul,li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button{
  font-family: 'GowunDodum-Regular',sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('../public/GowunDodum-Regular.ttf');
}

/***** logo와 관련된 style *****/

.H_logo{
  margin:10px 0 0;
  max-width:70%;
  max-height:100%;

}