*{box-sizing: border-box;}
h1, p{
    text-align: center;
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: 10px auto;
}
.row
{
    margin-left:  -15px;
    margin-right: -15px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.col-4{
    width: 25%;
    float: left;
    padding: 15px;
}
div.card{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2),
                0 6px 20px 0 rgba(0, 0, 0, .19);
    cursor: pointer;
}
div.car:hover{
    box-shadow: 2 6px 8px 0 rgba(0, 0, 0, .3),
                2 8px 20px 0 rgba(0, 0, 0, .25);
}
.header{
    height: 220px;
}
.header img{
    max-width: 100%;
}
.contents{
    text-align: center;
    padding: 10px;
}
.contents p{
    white-space: nowrap;/*줄바꿈을 허용하지 않는다.*/
    overflow: hidden;/*박스에 넘치는 부분은 보이지 않게 한다.*/
    text-overflow: ellipsis;/*넘친 부분의 텍스트 끝에 말줄임(...)을 붙인다.*/
}
#imgbox{
    width: 600px;
    height: 400px;
    position: fixed;
    border: 2px solie #ddd;
    border-radius: 15px;
    overflow: hidden;
    background-color: yellowgreen;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    display: none;
}   
#imgbox img{
    max-width: 100%;
}