*{box-sizing: border-box;}
h1{
    text-align: center;
    border-bottom: 2px solid red;
    margin-bottom: 40px;
    width: 150px;
    margin: 40px auto;
}
.container{
    width: 800px;
    padding: 30px;
    border: 1px solid #999;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
img{
    width: 100%;
}
.imgbox{
    height: 150px;
    overflow: hidden;
}
.imgview{
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
.card{
    float: left;
    width: 25%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, .2);
    position: relative;
}
.card:hover .imgview{
    display: block;
}