@import url(all.min.css);
@import url(fonts.css);
@import url(grid.css);

*{box-sizing: border-box;}

body{
    font-family: 'Noto Sans';
    font-size: 16px;
    color: #000;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #222;
}
.row{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.container{
    width: 1360px;
}
.top-nav{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ddd;
}

.top-nav a{
    line-height: 40px;
    font-size: .8em;
    display: inline-block;
    position: relative;
    display: block;
}
.top-left a:first-child::after{
    content: "";
    width: 1px;
    height: 12px;
    background-color: #ddd;
    display: inline-block;
    margin-left: 12px;
    margin-top: 3px;
}
.top-nav a:not(.sns):hover{
    content: "";
    width: 100%;
    height: 1px;
    background: #333;
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
}
.top-nav a:nth-child(2){
    margin-right: 10px;
}

a.sns{
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: rgba(95, 75, 150, 0.05);
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    margin-right: 5px;
    transition: all .2s ease-in-out;
}
a.sns:hover{
    background: rgba(95, 75, 150, 0.5);
    color: #fff;
}