*{box-sizing: border-box;}
body{
    margin: 20px;
    font-size: 16px;
}
.container{
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header{
    background: #ddd;
    text-align:center;
    padding: 20px;
}
nav{
    background-color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden; /* float left 될 경우 nav::after 에 clear:borth 해도 되고 nav에 overflow:hidden 또는 overflow:auto를 줘도 된다. */
}
nav a{
    display: block;
    padding: 15px 18px;
    color: #ddd;
    text-decoration: none;
    text-align: center;
    float: left;
}
nav a:hover{
    background-color: #ddd;
    color: #333;
}
aside, main{
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
aside{
    width: 25%;
}
main{
    width: 50%;
    font-size: 1em;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
    overflow: auto;
}
.init{
    background-color: #ddd;
    padding: 20px;
    min-height: 300px;
}
footer{
    padding: 20px;
    background: #333;
    color: #ddd;
    margin-top: 20px;
    text-align: center;
}