/* *{box-sizing: border-box;} */
.H_Flex_Around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.H_Flex_Center{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}
.H_active{
    background-color: aqua;
}
/* ---------------------------------------------------------------- */
.H_Container{
    min-width: 700px;
    max-width: 900px;
    height: 2000px;
    margin: 0;
    text-align: center;
    display: inline-block;
    border: 1px solid #333;
}
/* ---------------------------------------------------------------- */
.H_Menu_Box{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
}
.H_Menu_Img{
    width: 30%;
    height: 100%;
    border: 1px solid #333;
}
.H_Menu_Img>img{
    height: 100%;
    width: 100%;
}
.H_Menu_Info{
    width: 70%;
    height: 100%;
    border: 1px solid #333;
}
.H_Menu_Name{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
}
.H_Menu_Name>h1{
    margin: 0;
}
.H_Menu_Detail{
    width: 100%;
    height: 70%;
    border: 1px solid #333;
}


/* ---------------------------------------------------------------- */
.H_Option_Box{
    width: 100%;
    border: 1px solid #333;
}
.H_Option_Cafe{
    width: 100%;
    height: 150px;
    border: 1px solid #333;
}
.H_Option_Shopping_Basket{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
}









/* ---------------------------------------------------------------- */
.H_Sub_Basket_Box{
    width: 280px;
    position: relative;
    top: 0;
    margin: 0;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #333;
}
.H_Sub_Basket{
    width: 280px;
    min-height: 300px;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    border: 1px solid #333;
}

/* ---------------------------------------------------------------- */
@media screen and (max-width: 400px) {
    .H_Container{
        min-width: 400px;
    }
    .H_Sub_Basket_Box{
        display: none;
    }
    .H_Menu_Box{
        flex-direction: column;
        height: auto;
    }
    .H_Menu_Img{
        width: 50%;
        height: 200px;
    }
    .H_Menu_Info{
        width: 100%;
    }
    .H_Option_Cafe{
        height: auto;
        flex-direction: column;
    }
    .H_Option_Cafe>div{
        width: 100%;
        padding-bottom: 30px;
        border:1px solid #333
    }
}