@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{box-sizing: border-box;}
*{margin-top: 0; margin-bottom: 0;}
html{
    display: block;
}
body{
    font-family: 'Gothic A1', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
ul{
    text-decoration: none;
    list-style-type: none;
}
.container{
    font-size: 14px;
}
a, a:link{
    text-decoration: none;
    color: #000;
}
a>div{
    display: inline-block;
}
.channel{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
    color: #1e1e23;
    font-size: 16px;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: -0.5px;
    vertical-align: top;
}
/* header */
.headcolor{
    width: 100%;
    height: 52px;
    background-color: #3F63BF;
}
.headerBox{
    height: 52px;
    margin: 0 auto;
    max-width: 1110px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* 좌측 */
.headerBox a img{
    padding: 0 10px 0 15px;
}
.headerCenter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 8;
}
.headerCenter h1 a{
    font-size: 21px;
    float: left;
    color: #fff;
}
.headerCenter>a{
    float: left;
    font-size: 17px;
    color: rgba(255, 255, 255, .5);
}
.headerCenter>a::before{
    display: inline-block;
    content: "";
    width: 1px;
    height: 12px;
    background-color: rgba(255, 255, 255, .3);
    margin: 1px 7px 0;
}
/* 우측 */
.headerRight ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.headerRight li{
    margin-right: 10px;
}
.headerRight .myInfo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
.headerRight p{
    font-size: 13px;
    font-weight: 100;
}.headerRight p:hover{
    border-bottom: 1px solid #fff;
    cursor: pointer;
}.headerRight p::after{
    content: '';
    display: inline-block;
    margin: 5px 0 0 1px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    vertical-align: top;
}
.headerRight .iconbox{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.headerRight .icon1{
    position: absolute;
    top: 5px;
    left: -10px;
}
.headerRight .icon2{
    position: absolute;
    top: 5px;
    left: -35px;
}
.headerRight .icon3{
    position: absolute;
    top: 5px;
    left: -60px;
}
.headerRight .icon4{
    padding: 0;
    width: 25px;
    height: 25px;
}
/* 두번째 헤더 */

.secheader{
    width: 100%;
    height: 46px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.secheader .newsbox{
    height: 52px;
    margin: 0 auto;
    max-width: 1110px;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.secheader ul{
    padding: 0;
}
.secheader li{
    padding: 5px 10px;
}
.secheader li:first-child{
    margin-left: 5px;
}
.secheader a{
    color: #000;
    font-weight: 600;
}
.secheader .active{
    color: #3F63BF;
    border-bottom: 2px solid #3F63BF;
    padding-bottom: 11px;
    font-weight: 700;
}



/* main */
main{
    background-color: #f4f6f8;
    min-height: 1000px;
    
}
.mainbox{
    width: 1110px;
    margin: 0 auto;
    padding: 0px 15px;
    padding-top: 24px;
}
.mainbox .mainheader{
    width: 1080px;
    height: 26.5px;
    border-bottom: 1px solid #828691;
    margin-bottom: 16px;
}
.mainheader .today{
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.mainheader ul{
    float: right;
}
.mainheader li{
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
}
.mainheader li::before{
    display: inline-block;
    content: "";
    width: 1px;
    height: 12px;
    background-color: #e0e0e0;
    margin: 1px 7px 0;
}
.mainheader li:first-child::before{
    display: none;
}
.mainheader li a{
    font-size: 13px;
    font-weight: 500;
    color: #333;
}


/* 메인블럭 */

.main_brick{
    border: 1px solid #333;
}

.brick{
    width: 33.3333%;
}

.brick_main_box{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%);
    margin: 8px 12px 16px;
    margin-left: 0;
}
.main_item_title{
    display: flex;
    align-items: flex-start;
    margin: 0px 20px;
}
.main_item_title h3{
    font-size: 15px;
    padding: 12px 0;
    width: 70%;
    font-weight: 600;
    line-height: 22px;
}
.main_item_title h3 a{
    color: #767678;
    font-size: 12px;
    padding: 0 3px;
    padding-top: 1px;
}
.main_item_title h3 a span:last-child{
    margin-left: 7px;
    position: relative;
}
.main_item_title h3 a span:last-child::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -7px;
    width: 3px;
    height: 3px;
    background-color: #bebebe;
    border-radius: 50%;
    transform: translateY(-50%);
}
.main_item_title h3 a span:last-child::after{
    content: '';
    display: inline-block;
    margin: 9px 0 0 1px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #898989 transparent transparent transparent;
    vertical-align: top;
}
.main_item>.main_item_title>a{
    display: block;
    margin-left: auto;
    color: #767678;
    font-size: 14px;
    padding: 10px 13px 11px 10px;
    position: relative;
}
.main_item_title>a span{
    color: #4978f4;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
}.main_item_title>a span:last-child{
    margin: -7px;
    right: 7px;
}

/* **************************속보*************** */
.main_item_flash{
    border-top: 1px solid #efeff0;
    position: relative;
    /* display: none; */
}
.main_item_flash span{
    position: absolute;
    top: 16px;
    left: 12px;
}
.main_item_flash .main_item_list{
    padding: 0 28px 0 42px;
}
.main_item_list{
    height: 55px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.main_item_list h4{
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: #303038;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
}
.main_item_list .cn_name{
    color: #767678;
    font-size: 11px;
    font-weight: 600;
    overflow: hidden;
    line-height: 12px;
    text-align: right;
    width: 96px;
    padding-right: 15px;
}
/* 메인 기사 */
.main_item_news{
    position: relative;
}
.main_item_news .cjs_cmw{
    width: 38px;
    height: 38px;
    position: relative;
    border-radius: 50%;
    float: left;
    overflow: hidden;
}

.cjs_cmw img{
    margin-right: 6px;
}
.main_item_news .main_item_channel{
    padding: 22px 42px 3px 20px;
    display: block;
    position: relative;
}
.cjs_ctw{
    padding: 2px 0 4px 8px;
}
.cjs_ctw .icon-subscribe{
    background-color: #f868d5;
    position: relative;
}
.cjs_ctw .subscribe{
    position: relative;
    margin: 1px 2px 0 0;
    vertical-align: top;
    display: inline-block;
    width: 10px;
    height: 13px;
    overflow: hidden;
}
.cjs_ctw .subscribe img{
    position: absolute;
    width: 10px;
    top: -57px;
}
.cjs_ctw .icon-subscribe::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    border: 1px solid rgba(255, 255, 255, 0.07);
}
.cjs_ctw .blind{
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    color: #fff;
    letter-spacing: -0.6;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
}
.cjs_ctw #info{
    color: #929294;
    font-size: 11px;
    font-weight: 400;
}
.main_item_news .more_layer{
    position: absolute;
    top: 12px;
    right: 0;
}
.main_item_news .more_layer .cjs_btn_more{
    position: absolute;
    top: 12px;
    right: 0;
    display: block;
}
.main_item_news .more_layer img{
    width: 18px;
    height: 20px;
    margin: 8px 10px 8px 9px;
}
.more_layer .cjs_ly_function{
    position: absolute;
    top: 43px;
    right: 20px;
    min-width: 133px;
    box-shadow: 0 3px 4px 2px rgba(55, 57, 61, 4%);
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #e6e6ea;
    z-index: 200;
}
.more_layer .cjs_ly_function a{
    font-size: 14px;
    display: block;
    padding: 0 12px 0 16px;
    border: 0;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.5px;
}
.more_layer .cjs_ly_function a:first-child::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-position: -44px -63px;
    float: right;
    margin-top: 15px;
    background-image: url(../images/sp_today\ \(1\).png);
    background-size: 139px 129px;
    background-repeat: no-repeat;
}
.more_layer .cjs_ly_function a:last-child{
    border-top: 1px solid #efeff0;
}
.more_layer .cjs_ly_function a:last-child::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-position: -22px -63px;
    float: right;
    margin-top: 15px;
    background-image: url(../images/sp_today\ \(1\).png);
    background-size: 139px 129px;
    background-repeat: no-repeat;
}










.icon-dot{
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -7px;
    width: 3px;
    height: 3px;
    background-color: #bebebe;
    border-radius: 50%;
    transform: translateY(-50%);
}
.icon-more{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 6px;
    height: 6px;
    margin-top: 7px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #767678;
    transform: rotate(-135deg) translateY(-50%);
}
.icon-newsflash{
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    min-width: 18px;
    padding: 1px 1px 0;
    border: 1px solid rgba(0, 0, 0, .02);
    font-size: 10px;
    font-weight: 600;
    background-color: #e84c4c;
    line-height: 19px;
    color: #fff;
    text-align: center;
}
.icon-subscribe{
    position: relative;
    float: right;
    margin: 0px 0 0 5px;
    padding: 1px 5px 0 3px;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    color: #fff;
    letter-spacing: -0.6px;
    border-radius: 9px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 5%);
}