*{box-sizing: border-box;}
.container{
    width: 100%;
    padding: 0;
    margin: 200px auto;
    font-size: 30px;
    color: #fff;
    background-color: #333;
}
.watch{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    position: relative;
    background-image: url(../images/001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.watch p{
    left: 46.5%;
    top: 0;
    height: 250px;
    width: 30px;
    position: absolute;
    transform: rotate(0deg);
    transform-origin:  bottom;
    margin: 0 auto;
    text-align: center;
}
.watch .time{
    margin: 0 ;
    padding: 0;
    width: 2px;
    left: 50%;
    border:1px solid #dfdfdf;
    position: absolute;
    transform: rotate(0deg);
    transform-origin:  bottom;
    animation-duration: 1s;
}
#Sec{
    margin-top: 50px;
    height: 200px;
}
#Min{
    height: 150px;
    margin-top: 100px;
    width: 3px;
    background-color: #dfdfdf;
}
#Hour{
    height: 100px;
    margin-top: 150px;
    width: 5px;
    background-color: #dfdfdf;
}
.center{
    padding: 0;
    left: 49%;
    top: 49%;
    width: 15px;
    height: 15px;
    background-color: #efefef;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}